#map.map{ style: 'height: 450px' }

.container.events
  %br
  - @events.group_by{ |d| d[:start_date].strftime('%B') }.each do |month, events|
    %hr
    .row
      .col-md-6
        %big
          %strong= month
      .col-md-6
        - events.each do |event|
          .panel.panel-default
            .panel-heading
              .pull-left
                = event[:conference]
              .pull-right
                = "#{event[:city]}, #{event[:country]}"
                %span.flag-icon{ class: "flag-icon-#{ISO3166::Country.find_country_by_name(event[:country]).alpha2.downcase}" }
              .clearfix
            .panel-body
              .pull-right
                = event[:start_date].strftime("%d.%m.%Y")
                = "-"
                = event[:end_date].strftime("%d.%m.%Y")
                - days = (event[:end_date] - event[:start_date]).to_i + 1
                - if days == 1
                  = "(#{days} day)"
                - else
                  = "(#{days} days)"
              %img{ src: "/images/#{event[:conference].downcase.gsub(' ', '_').gsub('#', '')}.png", style: 'height: 50px;' }

:javascript
  $(document).ready(function() {
    initMap(#{@events.to_json});
  });
