!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Meskond - Conference Directory
    = assets(:css)
    = assets(:js)
    %script{ src: "http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&amp;sensor=false" }
  %body
    .github-fork-ribbon-wrapper.right
      .github-fork-ribbon
        %a{ href: 'https://github.com/wafcio/meskond-static' } Fork me on GitHub
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: '/' } Meskond
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = @current_year
                %span.caret
              %ul.dropdown-menu
                - @years.each do |year|
                  %li
                    %a{ href: "/?year=#{year}" }= year
    = yield
